<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap"></script>
    <title>Learn Node.js</title>

   
</head>
<body>
    <div class="container m-1 p-2">
        <div class="container-sm w-100">
            <div class="form-control accordion-body">
                <h1>Learn Node.js</h1>
                pagina aplicación hecha con Node.js
            </div>            
        </div>
    </div>
    </body>
</html>